<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CS260 Group Chat</title>
    <link rel="stylesheet" href="./stylesheets/devices.min.css" type="text/css">
    <link rel="stylesheet" href="./stylesheets/style.css" type="text/css">

  </head>
  <body style="display:flex;flex-direction:row;">

    <div class="marvel-device iphone-x" style="margin: 0 auto;">
    <div class="notch">
        <div class="camera"></div>
        <div class="speaker"></div>
    </div>
    <div class="top-bar"></div>
    <div class="sleep"></div>
    <div class="bottom-bar"></div>
    <div class="volume"></div>
    <div class="overflow">
        <div class="shadow shadow--tr"></div>
        <div class="shadow shadow--tl"></div>
        <div class="shadow shadow--br"></div>
        <div class="shadow shadow--bl"></div>
    </div>
    <div class="inner-shadow"></div>
    <div class="screen">
        <div class="screencontent">

          <div class="messages" id="messages">

            <div class="othermessage">
              <span class="messageusername">Username</span>
              <span class="messagecontent">This is some message content written by a user with username "Username"</span>
            </div>

            <div class="othermessage">
              <span class="messageusername">Username</span>
              <span class="messagecontent">This is some message content written by a user with username "Username"</span>
            </div>

            <div class="othermessage">
              <span class="messageusername">Username</span>
              <span class="messagecontent">This is some message content written by a user with username "Username"</span>
            </div>

            <div class="othermessage">
              <span class="messageusername">Username</span>
              <span class="messagecontent">This is some message content written by a user with username "Username"</span>
            </div>

            <div class="othermessage">
              <span class="messageusername">Username</span>
              <span class="messagecontent">This is some message content written by a user with username "Username"</span>
            </div>

            <div class="othermessage">
              <span class="messageusername">Username</span>
              <span class="messagecontent">This is some message content written by a user with username "Username"</span>
            </div>


            <div class="othermessage">
              <span class="messageusername">Username</span>
              <span class="messagecontent">This is some message content written by a user with username "Username"</span>
            </div>

            <div class="othermessage">
              <span class="messageusername">Username</span>
              <span class="messagecontent">This is some message content written by a user with username "Username"</span>
            </div>

          <div class="othermessage">
            <span class="messageusername">Username</span>
            <span class="messagecontent">This is some message content written by a user with username "Username"</span>
          </div>

          <div class="mymessage">
            <span class="messageusername">Username</span>
            <span class="messagecontent">This is some message content written by a user with username "Username"</span>
          </div>


          </div>


        </div>
    </div>
</div>

<script>
  var element = document.getElementById("messages");
  element.scrollTop = element.scrollHeight;
</script>

  </body>
</html>
