<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CS260 Group Chat</title>
    <link rel="stylesheet" href="./stylesheets/devices.min.css" type="text/css">
    <link rel="stylesheet" href="./stylesheets/style.css" type="text/css">

  </head>
  <body style="display:flex;flex-direction:row;">

    <div class="marvel-device iphone-x" style="margin: 0 auto; height: 80vh">
    <div class="notch">
        <div class="camera"></div>
        <div class="speaker"></div>
    </div>
    <div class="top-bar"></div>
    <div class="sleep"></div>
    <div class="bottom-bar"></div>
    <div class="volume"></div>
    <div class="overflow">
        <div class="shadow shadow--tr"></div>
        <div class="shadow shadow--tl"></div>
        <div class="shadow shadow--br"></div>
        <div class="shadow shadow--bl"></div>
    </div>
    <div class="inner-shadow"></div>
    <div class="screen">
        <div class="screencontent">

          <div class="centered" style="flex-direction:column">
            <h2>Enter Group Chat</h2>
            <div>
              <form method="post" action="">
              <input type="text" class="nameinput" placeholder="Your Name" name="username"/>
              <button class="btn">Go</button>
              </form>
            </div>
          </div>

        </div>
    </div>
</div>

  </body>
</html>
